Repository ynot01/Yogstation, changes with the labels that .github/labeler.yml gives for each.
All labels: Admin, Config, Dependencies, DME Edit, Sprites, Javascript, Mapping, Sound, SQL, tgui, Github

bring back no name devil
  icons/effects/64x64.dmi
Labels: Sprites

move playsnd
  code/_onclick/click.dm
  code/game/objects/effects/temporary_visuals/swing.dm
Labels: none

cd and fail to fix swing offset
  code/_onclick/click.dm
  code/game/objects/effects/temporary_visuals/swing.dm
Labels: none

Update _vending.dm
  code/modules/vending/_vending.dm
Labels: none

Update message.dm
  code/game/machinery/telecomms/computers/message.dm
Labels: none

Update robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

Update drug_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: none

ling frost oil hidden
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: none

Update medical_kiosk.dm
  code/game/machinery/medical_kiosk.dm
Labels: none

prevents syringe meta
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/mob/living/blood.dm
  code/modules/reagents/chemistry/holder.dm
Labels: none

Update vxtvulhammer.dm
  yogstation/code/game/objects/items/wielded/vxtvulhammer.dm
Labels: none

Update species.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: Github

Update CODEOWNERS
  .github/CODEOWNERS
Labels: Github

.github/labeler.yml:

Admin:
  - 'code/modules/admin/**'

# Any file within the config subfolder
Config: 
  - 'config/**'

Dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# When the .DME is changed
DME Edit:
  - './*.dme'
  - '**/*.dme'

# Changes to a .dmi or anything in the icons folder
Sprites: 
  - '**/*.dmi'
  - 'icons/*.dmi'

# Javascript changes
Javascript: 
  - '**/*.js'

# Changes to a .dmm or anything in the _maps folder or any of the map definitions
Mapping: 
  - '**/*.dmm'
  - '_maps/**'
  - 'code/datums/ruins/**'
  - 'code/datums/shuttles.dm'

# Changes to a .ogg or anything in the sound folder
Sound: 
  - '**/*.ogg'
  - 'sound/**'

# Changes to the SQL subfolder
SQL: 
  - 'SQL/**'

# Encompasses both the tgui and the tgui-next folder
tgui: 
  - 'tgui/**'
  - 'tgui-next/**'

# Changes to the .Github folder
Github: 
  - '.github/**'
